<div class="container index-header">
  Book a Flight!
</div>
<div class="index-container">
  <div class="index-container-left">
    <div class="jumbotron flight-form">
      <%= form_for(:flight, url: flights_path, method: :GET) do |f| %>
        <div class="form-select mb-3">
          <strong>From:</strong> <%= f.select(:from_airport, options_for_select(@airports)) %>
        </div>
        <div class="form-select mb-10">
          <strong>To:</strong> <%= f.select(:to_airport, options_for_select(@airports)) %>
        </div>
        <div class="form-select mb-3">
          <strong>Date of Flight:</strong> <%= f.select(:departure, options_for_select(@dates)) %>
        </div>
        <div class="form-select mb-3">
          <strong>Passengers:</strong> <%= f.select(:passengers, options_for_select(@passengers)) %>
        </div>
        <%= f.submit "Search Flights", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="index-right">
    <% if available_flights? %>
      <%= render 'results' %>
    <% elsif no_results? %>
      <p class="lead">No Flights found that match your criteria.</p>
    <% end %>
  </div>
</div>
